# Hugging Face API Configuration
# Get your API key from: https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY=YOUR_API_KEY_HERE
PORT=3000

# Inference Endpoint URL
HF_ENDPOINT_URL=https://nt6zqz6ei6f3w80r.us-east-1.aws.endpoints.huggingface.cloud/